.searchWidget {
  display: flex;
  flex-direction: column;
  width: 40rem;
  max-width: 90%;
  background-color: #fff;
  padding: 2.8rem;
  box-shadow: 1.5rem 1.5rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  max-height: 45rem;
}
